@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "IranSans";
}

@layer base {
  @font-face {
    font-family: "IranSans";
    src: url(../src/assets/Fonts/IRANSansXFaNum-Regular.ttf);
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1351px !important;
    }
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #006EFF;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d49b8;
  cursor: grab;
}